$border-color     : #CECECE;
$background-color : #333333;
$header-color     : #3F51B5;

$info-color       : #d9edf7;
$warn-color       : #fcf8e3;
$critical-color   : #f2dede;

$active-color     : #00897b;
$hover-color      : #26a69a;