
//Libraries
@import "libs/normalize";

//Commons
@import "variables";
@import "typography";

//Partials
@import "partials/header";
@import "partials/infobox";



html, body { 
  height: 100%;
  margin: 0; 
  padding: 0; 
  background:$background-color;
  @extend %normal-font;
}

#map {
  width:100%;
  height:100%;
}